<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>865767872644-b85gkav6ricjdsam197m1akb7p1psmqh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.865767872644-b85gkav6ricjdsam197m1akb7p1psmqh</string>
	<key>API_KEY</key>
	<string>AIzaSyDghk3d5WGFz1njY7nFGdmaBYSE1703mZg</string>
	<key>GCM_SENDER_ID</key>
	<string>865767872644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CeliaLRND.Pokefinder</string>
	<key>PROJECT_ID</key>
	<string>pushmynotifs-fe0cc</string>
	<key>STORAGE_BUCKET</key>
	<string>pushmynotifs-fe0cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:865767872644:ios:b2b35b08db35e86d</string>
	<key>DATABASE_URL</key>
	<string>https://pushmynotifs-fe0cc.firebaseio.com</string>
</dict>
</plist>